
  #header {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: Gilroy;;

    h1 {
      font-weight: 700;
      font-size: 26px;
      color: #010100;
      margin-bottom: 15%;
    }

    img {
      width: 150px;
      height: 30x;
      border-radius: 0%;
    } }

    ion-content {
      --background: #ffffff;
      font-family: Gilroy;
    
      #form {
        margin-top: 20%;
        padding-left: 30px;
        padding-right: 30px;
    
        ion-button {
          margin-top: 37px;
          height: 48px;
          font-size: 18px;
          text-transform: initial;
          border-radius: 50px;
          box-shadow: 1px 8px 8px 0px rgba(0, 0, 0, 0.05);
          --box-shadow: none;
        }
      }
    }