<ion-header>
  <ion-toolbar>
      <ion-title>Profil</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content> 
    
    <ion-list>
      <ion-button size="small">Edit</ion-button>
      <div class="ion-padding" style="text-align: center;">
        <img src="./assets/img/ou.png" width="100" height="100">
      </div>
      </ion-list>

     <h3>Rizky Dea A.H <p>
        9A
      </p></h3>
      
  <ion-card color="primary">
    
      <ion-card-content>
        
        <ion-list>
          <div class="no">
          <ion-item>
              <p1>Phone Number</p1> <br>
              087989898912
          </ion-item> </div>
          <ion-item>
            Email
              <p>okelah@gmail.com</p>
            </ion-item>
            <ion-item> 
              <p>Kelas XII </p>
          </ion-item>
        </ion-list>
        <div class="ion-padding" style="text-align: center;"> 
      </div>
      </ion-card-content>

    </ion-card>
  </ion-content>
