h3 {

width: 115px;
height: 23px;
left: 123px;
top: 190px;

font-family: Poppins;
font-style: normal;
font-weight: bold;
font-size: 16px;
line-height: 18px;
/* or 137% */

letter-spacing: 0.333333px;

color: #838391;  
}

ion-button {
    
}
p1 {
   font-size: small;
   height: 20px;
}