<ion-content padding class="background">
  <div class="judul">
    <h1>Recite Qur’an <br>
      Peace Will Come  </h1>
  </div> 

  <div class="oke">
  <ion-button (click)="login()">Login</ion-button>
  <ion-button (click)="regis()" >SignUp</ion-button>
  </div>
</ion-content>