ion-content.background{
  --background: url(../../assets/img/lo.png) 0 0/100% 100% no-repeat;
}

.judul {
  color : #4B4B4B, 100%;
  font-family: Playfair Display;
  font-size: large;
  font-style: bold;
  position: absolute;
  width: 500px;
  height: 96px;
  left: 33px;
  top: 35px;
}

.oke{ 
  position: absolute;
  width: 260px;
  height: 56px;
  left: 49px;
  top: 470px;
  ion-button {
  width: 152px;
  height: 40px;
  }
}